name: Pipeline de Contingencia (Estrategia C)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar Linter
        run: |
          python -m pip install --upgrade pip
          pip install flake8

      - name: Executar Validacao Isolada
        run: |
          
          flake8 teste.py 
          
      - name: Teste de Execucao
        run: |
          python teste.py
